body{
    background-color: beige;
}
#id1{
    font-size: 20px;
}
.clase1,.clase2{
    text-align: justify;
}

.elemento1{
    background-color: blueviolet;
    flex: 1 1 auto;
}
.elemento2{
    background-color:yellow;
    flex: 1 1 auto;
}
.elemento3{
    background-color: darkorange;
    flex: 1 1 auto;
}
.elemento4{
    background-color: darkcyan;
    flex: 1 1 auto;
    
}
.elemento5{
    background-color: darkgreen;
    flex: 4 1 auto;
}
.container{
    width: 90%;
    margin: auto;
    height: 150px;
    border: 2px solid ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}
.container-card{
    width: 400px;
}
.card{
    width: auto;
    border: 2px solid darkblue;
    margin: 10px;
    padding: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
img{
    width: 100%;
}
.titulo,.subtitulo{
    text-align: center;
}
.card-body{
    text-align: justify;
    display: flex;
    flex-direction: column;
}
