* {
    font-family: 'Hind Vadodara', sans-serif;
    background: #FFF;
    box-sizing: border-box;
    color: #331B3B;
    padding: 0;
    margin: 0;
}

body {
    max-width: 97%;
}

a {
    text-decoration: none;

}

header {   
    position: relative; 
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style: none;
}

ul li .nav-menu {
    padding-right: 15px;
}

header div {
    position: absolute;
}

.nav-menu li {
    padding-left: 20px;
}

.nav-menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-family: 'Hind Vadodara';
    font-style: normal;    
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em; 
    width: 343px;
    height: 24px;
    left: 50px;
    top: 47px;
}

header nav ul .active {
    font-weight: 700;
}

.menu-item a:hover{   
    border-top: 3px solid #FDC221;
    border-bottom: 3px solid #FDC221
}

.brand {
    display: flex;
    justify-content: center;    
    width: 163px;
    height: 36px;
    left: 45%;
    top: 43px;
}

.brand a {
    font-family: 'Playfair Display';
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.01em;    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social {    
    display: flex;
    justify-content: flex-end;
    font-family: 'Playfair Display';
    height: 24px;
    width: 200px;
    right: 50px;
    top: 43px;
}

.social li {
    display: flex;
    float: left;
    justify-content: space-around;
}

.social-icon img{
   height: 1.5rem;
   padding-left: 20px;
}

.home {
    position: relative;
    display: flex;
    top: 213px;
    height: 261px;    
    left: 50px;
    justify-content: flex-start;
    text-align: left;

}

.home .text-home {
    justify-content: flex-start;
    flex-direction: row;
    position: absolute;
    top: 100px;
    width: 715px;
}

.text-home h1, .text-about h1  {
    font-size: 6rem;
    font-weight: normal;
    line-height: 99.8%;
    letter-spacing: -0.01em;
}

.home .text-home span, .home .text-about span  {
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.home .text-home p {
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 146.3%;
    letter-spacing: 0.02em;
    color: rgba(51, 27, 59, 0.66);
}

button {    
    font-weight: 700;
    font-size: 17px;
    line-height: 137.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;  
    background-color: #331B3B;
    margin-top: 20px;
    padding: 30px 50px;
    border-radius: 10px;
}

.image-home {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: 850px;
    right: 0px;
    top: -108px;
}

.about {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 713px;
    height: 261px;    
    left: 50px;
    justify-content: flex-start;
    text-align: left;

}

.image-about {
    position: absolute;
    width: 811.73px;
    height: 855.11px;
    left: 0;
    top: -108px;
}

.about .text-about p {

    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 146.3%;
    letter-spacing: 0.02em;
    color: rgba(51, 27, 59, 0.66);
}